#!/usr/bin/env bash

set -o errexit

# -----------------------------------------------------------------------------
# Repo configuration
# -----------------------------------------------------------------------------

# Provide a different repo to use. This could be useful if you've forked the
# project into your account. If you're using GitHub you only need to
# update DOTFILES_REPO_SLUG, ie. youraccount/dotfiles.
export DOTFILES_REPO_SLUG="${DOTFILES_REPO_SLUG:-nickjj/dotfiles}"
export DOTFILES_CLONE_URL="${DOTFILES_CLONE_URL:-https://github.com/${DOTFILES_REPO_SLUG}}"
export DOTFILES_UPSTREAM_URL="${DOTFILES_UPSTREAM_URL:-https://github.com/nickjj/dotfiles}"

# Provide a different remote branch. This branch will be merged into your
# current locally checked out branch when pulling in updates.
export DOTFILES_BRANCH="${DOTFILES_BRANCH:-master}"

# -----------------------------------------------------------------------------
# Personalization
# -----------------------------------------------------------------------------

# If you define these, they will get used instead of prompting you. Keep in
# mind you won't be prompted once you've answered them once since the values
# get persisted and read independent of these values. Still, this could be
# handy to set for fresh systems to avoid needing to input them manually.
export YOUR_NAME=
export YOUR_EMAIL=

# -----------------------------------------------------------------------------
# Graphical User Interface (GUI)
# -----------------------------------------------------------------------------

# When set to 1, graphical apps and niri (window manager) will be installed if
# you have Arch. By default it's disabled. Even if enabled, it's skipped in WSL.
export GUI_LINUX=

# -----------------------------------------------------------------------------
# XDG directories
# -----------------------------------------------------------------------------

# If you ever want to change them then change them here, they will get written
# to the correct files from this script, there's a few spots!
#
# I use the defaults and I suggest you do the same, here's the source:
#   https://specifications.freedesktop.org/basedir/latest/
export XDG_CACHE_HOME="${HOME}/.cache"
export XDG_CONFIG_HOME="${HOME}/.config"
export XDG_DATA_HOME="${HOME}/.local/share"
export XDG_STATE_HOME="${HOME}/.local/state"

# Most of these have customized defaults, here's the source with defaults:
#   https://wiki.archlinux.org/title/XDG_user_directories
#
# My thought process is if a program writes something to pictures, videos or
# most other directories listed below it's probably a temporary location
# because I would organize where the file will live permanently afterwards.
#
# However, for things like music I want music players to use the real directory.
#
# Of course you are free to customize these however you see fit! These only
# get created and set if you have GUI_LINUX enabled on Arch.
export XDG_DESKTOP_DIR="${HOME}/tmp/desktop"
export XDG_DOCUMENTS_DIR="${HOME}/docs"
export XDG_DOWNLOAD_DIR="${HOME}/downloads"
export XDG_MUSIC_DIR="${HOME}/media/music"
export XDG_PICTURES_DIR="${HOME}/tmp/pictures"
export XDG_PUBLICSHARE_DIR="${HOME}/public"
export XDG_TEMPLATES_DIR="${HOME}/docs/templates"
export XDG_VIDEOS_DIR="${HOME}/tmp/videos"

# -----------------------------------------------------------------------------
# System packages
# -----------------------------------------------------------------------------

# When set to 1, package managers that support non-interactive mode where you
# can skip typing "y" to confirm will be set. Be careful, this allows hands free
# installs at the cost of not being able to review changes before installing.
export PACKAGES_AUTO_CONFIRM=

# These rules apply to all package variables:
# - Left as is OR commented out            -> default packages get used
# - Remove () and set an empty value OR "" -> nothing gets used
# - Add your own array items               -> only your packages get used
#
# You can use "extras" to keep the default packages but add your own to avoid
# needing to duplicate the entire package list. Think of this as merging.

# Applies to Arch Linux.
export PACKAGES_PACMAN=()
export PACKAGES_PACMAN_EXTRAS=()

# Packages defined here only get installed when GUI_LINUX=1 is set.
export PACKAGES_PACMAN_GUI=()
export PACKAGES_PACMAN_GUI_EXTRAS=()

export PACKAGES_AUR=()
export PACKAGES_AUR_EXTRAS=()

# Packages defined here only get installed when GUI_LINUX=1 is set.
export PACKAGES_AUR_GUI=()
export PACKAGES_AUR_GUI_EXTRAS=()

# Applies to Debian and Ubuntu.
export PACKAGES_APT=()
export PACKAGES_APT_EXTRAS=()

# Applies to macOS.
export PACKAGES_BREW=()
export PACKAGES_BREW_EXTRAS=()
export PACKAGES_BREW_CASK=()
export PACKAGES_BREW_CASK_EXTRAS=()

# -----------------------------------------------------------------------------
# Mise packages
# -----------------------------------------------------------------------------

# The same rules apply as system packages for how to define these.

export MISE_ARCH=()
export MISE_ARCH_EXTRAS=()

export MISE_DEBIAN=()
export MISE_DEBIAN_EXTRAS=()

export MISE_MACOS=()
export MISE_MACOS_EXTRAS=()

# Install programming languages.
declare -A MISE_LANGUAGES=()
declare -A MISE_LANGUAGES_EXTRAS=()

# Here's an example to demonstrate the syntax. The key is the binary name and
# the value is what you would pass into Mise to install it.
#MISE_LANGUAGES_EXTRAS["ruby"]="ruby@3.4"

export MISE_LANGUAGES
export MISE_LANGUAGES_EXTRAS

# -----------------------------------------------------------------------------
# Config files
# -----------------------------------------------------------------------------

# The same rules apply as system packages for how to define these.

# Typically these would be symlinks but they could be created with cp / rsync
# or whatever commands you want.
#
# Symlinks allow you to keep your configs in this dotfiles repo but have them
# exist in ~/.config/xxx so programs pick them up. You can also create .local
# versions of these files in your dotfiles and symlink them, this allows you
# to fully overwrite a config without forking this repo.

# Configs defined here will get created in all OS / environments.
export CONFIG_INSTALL=()
export CONFIG_INSTALL_EXTRAS=()

# Configs defined here only get created when GUI_LINUX=1 is set.
export CONFIG_INSTALL_GUI_LINUX=()
export CONFIG_INSTALL_GUI_LINUX_EXTRAS=()

# Configs defined here only get created when on Arch Linux.
export CONFIG_INSTALL_ARCH=()
export CONFIG_INSTALL_ARCH_EXTRAS=()

# Configs defined here only get created when in WSL.
export CONFIG_INSTALL_WSL=()
export CONFIG_INSTALL_WSL_EXTRAS=()

# -----------------------------------------------------------------------------
# Sudoers
# -----------------------------------------------------------------------------

# The same rules apply as mise languages for how to define these.

# Creates sudoers entries into /etc/sudoers.d/.
declare -A SUDOERS_ENTRIES=()
declare -A SUDOERS_ENTRIES_EXTRAS=()

# Here's an example to demonstrate the syntax. The key is the file name and
# the value is the line written to the file.
#SUDOERS_ENTRIES_EXTRAS["dot-whois"]="${USER} ALL=(ALL) NOPASSWD: /usr/bin/whoami"

export SUDOERS_ENTRIES
export SUDOERS_ENTRIES_EXTRAS

# -----------------------------------------------------------------------------
# Enabled systemd services
# -----------------------------------------------------------------------------

# The same rules apply as system packages for how to define these.

# Services in this list will start on boot if they exist, omit the .service
# extension, for example SYSTEMD_ENABLED_SERVICES_EXTRAS=("docker") is
# enabled by default. Use "myservice --user" to have it enabled with --user,
# likewise you can use "myservice --now" and combine these flags as needed.
export SYSTEMD_ENABLED_SERVICES=()
export SYSTEMD_ENABLED_SERVICES_EXTRAS=()
