@import "./theme.css";

* {
  all: unset;
  font-family: monospace;
  font-size: 14px;
}

.normal-icons {
  -gtk-icon-size: 16px;
}

.large-icons {
  -gtk-icon-size: 32px;
}

scrollbar {
  opacity: 0;
}

.box-wrapper {
  background: @window_bg_color;
  padding: 20px;
  border-radius: 4px;
  border: 1px solid darker(@accent_bg_color);
}

.preview-box,
.elephant-hint,
.placeholder {
  color: @theme_fg_color;
}

.box {
}

.search-container {
  border-radius: 4px;
}

.input placeholder {
  opacity: 0.5;
}

.input {
  caret-color: @theme_fg_color;
  background: lighter(@window_bg_color);
  padding: 10px;
  color: @theme_fg_color;
}

.input:focus,
.input:active {
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
  color: @theme_fg_color;
}

child {
}

.item-box {
  border-radius: 4px;
  padding: 10px;
}

.item-quick-activation {
  background: alpha(@accent_bg_color, 0.25);
  border-radius: 2px;
  padding: 10px;
}

child:hover .item-box,
child:selected .item-box {
  background: alpha(@accent_bg_color, 0.25);
}

.item-text-box {
}

.item-text {
}

.item-subtext {
  font-size: 12px;
  opacity: 0.5;
}

.item-image-text {
  font-size: 28px;
}

.preview {
  border: 1px solid alpha(@accent_bg_color, 0.25);
  padding: 10px;
  border-radius: 4px;
  color: @theme_fg_color;
}

.calc .item-text {
  font-size: 24px;
}

.calc .item-subtext {
}

.symbols .item-image {
  font-size: 24px;
}

.todo.done .item-text-box {
  opacity: 0.25;
}

.todo.urgent {
  font-size: 24px;
}

.todo.active {
  font-weight: bold;
}

.bluetooth.disconnected {
  opacity: 0.5;
}

.preview .large-icons {
  -gtk-icon-size: 64px;
}

.keybinds-wrapper {
  border-top: 1px solid lighter(@window_bg_color);
  font-size: 12px;
  opacity: 0.5;
  color: @theme_fg_color;
}

.keybinds {
}

.keybind {
}

.keybind-bind {
  font-weight: bold;
  text-transform: lowercase;
}

.keybind-label {
}

.error {
  padding: 10px;
  background: @error_bg_color;
  color: @error_fg_color;
}

:not(.calc).current {
  font-style: italic;
}
